@import "variables";
@import "function";
body{
    font-family: $font-family-vazir;
    background: $body-background;
    margin:auto;
}

.container{
    max-width: $max-width;
}

a{
    text-decoration: none;
    font-size: 20px;
}

.px-1{
    padding:0 1rem
}

ul{
    list-style:none;
}

%btn-shared{
    display: inline-block;
    background:$secondary-color;
    margin: 1rem;
    padding: .5rem 2rem;
    color:$light-color;
    border-radius: 5px;
    font-size: 15px;
    font-family: $font-family-vazir;
    
}

.btn{
    @extend %btn-shared;
    @include transition(border-radius,0.5s);
    &:hover{
        background: $primary-color;
        border-radius: 10px;
       
    }
}