$primary-color:linear-gradient(
    333deg,
    rgb(43, 1, 121) 0%,
    rgb(43, 1, 121) 0%,
    rgb(121, 56, 242) 100%,
    rgb(121, 56, 242) 100%
  );
  $secondary-color:rgb(121,56,242);
  $medium-color:#ccc;
  $white-color:white;
  $light-color:#f4f4f4;
  $max-width:1100px;

  $body-background: linear-gradient(
    to right,
  rgba(20,20,20,0.5) 25%,
  rgba(20,20,20,0.7) 50%,
  rgba(20,20,20,0.9) 100%
);